:root{
  --main-title-color:#FFFFFF;
  --secondary-title-color:#212121;
  --activ-title-color:#2196F3;
}
body{
  font-family:'Roboto', sans-serif;
  background-color: var(--main-title-color);
}
.list{
  list-style: none;
}
.link{
  text-decoration: none;
}

/*-----------------------------header------------*/
.header{
  background-color:var(--main-title-color);
}
.logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31/26);
    letter-spacing: 0.03em; 
    color:var(--activ-title-color);
}
.logo-header{
 color:var(--secondary-title-color);
}
.logo-footer{
  color: var(--main-title-color);
}
.nav-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--secondary-title-color);
}
.nav-link:hover,.nav-link:focus{
  color: var(--activ-title-color);
}
.nav-link:active{
  color:var(--activ-title-color);
}
.nav-link.current{
  color: var(--activ-title-color);
}
.heder-mail{
  
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  
    color: #757575;
}
.heder-tel{
  
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.heder-mail:hover,.header-mail:focus{
  color: var(--activ-title-color);
}
.heder-tel:hover,.heder-tel:focus{
  color: var(--activ-title-color);
}
.heder-mail:active {
  color: var(--activ-title-color);
}
.heder-tel:active {
  color: var(--activ-title-color);
}

/*-------------------------------main----------------------------*/
.main-title{
  background-color: #2F303A;
}
.main-btn{
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--main-title-color);
    cursor:pointer;
    border-style: none; 
    background: var(--activ-title-color);
}
.main-btn:hover,.main-btn:focus{
  color:#2F303A;
}

.main-btn:active {
  background: var(--activ-title-color);
  color: var(--main-title-color)
}
.main-caption{
  font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-title-color);
}

.maim-list-benefits{
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16/14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
}
.benefits-info{
  font-size: 14px;
  line-height: calc(24/14);
  letter-spacing: 0.03em;
  color: #757575;
}
.our-work{
    font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}
.our-comand{
  font-size: 36px;
    line-height: calc(42/36);
    letter-spacing: 0.03em;
    color: var(--secondary-title-color);
}
.main-comand{
  background-color: #F5F4FA;
}
.main-workers{
  background-color: var(--main-title-color);
}
.main-worker-name{
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19/16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-title-color);
}
.main-worker-position{
  font-size: 16px;
  line-height: calc(19/16);
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
/*-------------------------------footer--------------------------*/
.footer{
  background-color: #2F303A;
}
.footer-addres{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
.footer-mail{
 font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-tel{
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-addres:hover,.footer-addres:focus{
color: var(--activ-title-color);
}
.footer-mail:hover,.footer-mail:focus {
  color: var(--activ-title-color);
}

.footer-tel:hover,.footer-tel:focus {
  color: var(--activ-title-color);
}
/*------------------------------page-second---------------------*/

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.btn-list{
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height:calc(26/16);
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border-style: none; 
}
.btn-list:hover,
.btn-list:focus {
  color:var(--activ-title-color);
}
.btn-list:active {
 background: var(--activ-title-color);
color:var(--main-title-color)
}
.list-cards{
  font-size: 18px;
  line-height: calc(36/18);
  letter-spacing: 0.06em;
  color:var(--secondary-title-color);
}
.list-cards-name{
    font-size: 16px;
    line-height: calc(30/16);
    letter-spacing: 0.03em;
    color: #757575;
}